{% extends 'base.html.twig' %}

{% block links %}
    <link href="/resources/assets/css/page1.css" rel="stylesheet">
{% endblock %}

{% block container %}
    <h1>TestCase</h1>

    <div class="w50">
        <form class="form" action="page2" method="post">
            <h2 class="form-heading"></h2>
            <label for="message_to_world" class="sr-only">Your message to the world</label>
            <input type="text" id="message_to_world" name="message_to_world" class="form-control"
                   placeholder="Enter your message..." required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}
